* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a0010; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-topo {
    margin-bottom: 20px;
}

.imagem-topo img {
    width: 140px; 
}

.relogio {
    height: 190px;
    width: 650px;
    outline: 4px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 20px;
    background-color: #88005488;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
}

.box-tempo {
    height: 170px;
    width: 170px;
    background-color: #ffb6c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-size: 60px;
    justify-content: center;
    color: #1a0010;
}

.pontinhos {
    font-size: 80px;
    color: #000000;
}

.tempo-texto {
    font-size: 15px;
    padding-top: 5px;
    color: #000000;
}

.navbar {
    width: 100%;
    background: #8800548a;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
}
